:root {
    /* Colours */
    /* --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d; */
  
    /* Fonts */
    --font-roboto: "Roboto";

    --color-text: #000000;
    --color-primary: #E86252;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #EE2677; 
  }